:root{
    
    --body-background-color: rgb(230, 227, 227);
    --body-color:rgb(7, 7, 7);
    --img-filter:invert(0)

}

.dark-mode{
    --body-background-color: rgb(50, 50, 51);
    --body-color:white;
     --img-filter:invert(100%)

}